@import './../../node_modules/bootstrap/dist/css/bootstrap';

/* font/*/
@import './../fonts/webfontkit-20231012-153251/stylesheet.css';

@import 'nav';


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bs-body-font-family: 'pp_morisemibold', sans-serif;
    --bs-nav-link-color: rgb(200, 200, 200);
    --bs-yellow: #EAFD53;
    --bs-purple: #9D95FF;
    --bs-orange: #FE8708;
    --bs-green: #7EE787;
}


body {
    margin: 0;
    font-size: 16px;
    cursor: none;
}


/* cursor custom */
.cursor-wrapper {
    --cursorXPos: 0;
    --cursorYPos: 0;
    pointer-events: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: -25px;
    left: -25px;
    transform: translate3d(var(--cursorXPos), var(--cursorYPos), 0);
    transition: tranform 2s cubic-bezier(0.75, 0.885, 0.32, 1.275);
} 
    .cursor-wrapper .cursor {
        width: 2rem;
        height: 2rem;
        background-color: #eafd53;
        border-radius: 100%;
        will-change: transform;
    } 


/* nav bar */
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.bg-nav {
    background-color: transparent !important;
}

/* splash screen */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 1s;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.active {
    opacity: 1;
    transition: ease 1s;
}

.fade {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* section intro */
.transition-section {
    background-color: rgba(126, 231, 135);
    transform: translateY(100vh);
    border-radius: 35% 35% 0 0;
    transition: ease-in-out 2s;
    min-height: 100vh;
}

    .transition-section .top {
        /* background-color: rgba(126, 231, 135); */
        /* border-radius: 30% 30% 0 0; */
    }
/* ---- */
.full-screen-section {
    max-height: 100vh;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.top-section {
    display: flex;
    text-align: start;
    padding: 0;
    position: sticky;
    top: 0;
    /* transform: translateY(0); */
    translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
    /* background-color: #0E100F; */
    /* border-radius: 35% 35% 0 0; */
    transition: ease-in-out 2s;
}

    .top-section h4 {
        font-size: clamp(2rem, 1.2353rem + 3.1373vw, 5rem);
    }



    
/* about section */
.about-section > .about-section-top {
    /* (oldVal - oldmin) * new Range / old Range + newMin */
    --value:  min(var(--scroll), 30) * 50 / 30;
    --value-2:  min(var(--scroll), 100) * 60 / 20;
    width: calc(50vw + 1vw * var(--value));
    transform: translateY(calc(100% - 1% * var(--value-2)));
}

@media (width <= 1000px) {
    .about-section > .about-section-top {
        width: 100vw;
    }
}
.about-section > * {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10;
    translate: 0 100%;
    transition: translate 250ms ease-in-out;
}

    .about-section > .show {
        translate: 0 0;
    }


.about-container {
    min-height: 60vh;
}

.card-wrap {
    display: flex;
    gap: 1rem;
    padding: 1em;
}


